
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #f8f9fa;"> <!-- Lighter background -->

    <div class="row">
        <div class="col-2"></div>
        <div class="col-9" style="background-color: #f2f2f2; padding: 20px; margin: 10px; border-radius: 10px; border: 2px solid #ff6666;"> <!-- Light gray box with reddish border -->
            <app-bar-chart></app-bar-chart>
        </div>
        <div class="col-2"></div>
        <div class="col-9" style="background-color: #f2f2f2; padding: 20px; margin: 10px; border-radius: 10px; border: 2px solid #ff6666;"> <!-- Light gray box with reddish border -->
            <app-line-chart></app-line-chart>
        </div>
    </div>

</div>
